.body {
    width: 90%;
}
.super {
    margin: 2%;
    padding: 2%;
    display: inline-flex;
    align-content:space-between;
    vertical-align: middle;
    width: 90%;
    background-color: whitesmoke;
}

h3 {
    font-family: "Amatic SC", sans-serif; 
}
#navega {
    background-image: url(5c84ee193540ea0b4db0b83d04043915.jpg);
    font-family: "Amatic SC", sans-serif;
    font-size: 150%;
    font-weight: 700;

}
#bot1 {
    color: black;
}
#bot2 {
    color:#134f5c;
    background-color: whitesmoke;
}
#bot3 {
    color:whitesmoke;
    background-color:#134f5c;
}
.esta{
    vertical-align: middle;
    background-color: whitesmoke;
}
#mapa {
    width: 100%;
    height: 300px;
    padding: 2%;
    background-color: white;
}
.super h4{
    color:#134f5c;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family:"Amatic SC", sans-serif;
    font-size: 2cm;
    vertical-align: middle;
}
#carrousel{
    width: 50%;
    padding: 1%;
}
#texto{
    text-align: center;
    align-content:center;
    justify-content: center;
}
#texto p{
    font-size: 0.5;
    width: 90%;
}

.super p {
    width: 100%;
    font-family:"Amatic SC", sans-serif;
    color:#134f5c;
    text-align: center;
    font-size: 0.7cm;
}
.otra p{
    width:95%;
    font-family:"Amatic SC", sans-serif;
    color:#134f5c;
    text-align: center;
    font-size: 0.5cm;
}
.botones{
    vertical-align: middle;
    text-align: center;
    width: 95%;
    font-family:"Amatic SC", sans-serif;
}

#texto h5{
    width: 65%;
    text-align: center;
    font-size: 2cm;
    font-family:"Amatic SC", sans-serif;
    color: #134f5c;
}
.card-body{
    vertical-align: middle;
    height: min-content;
    text-align: left;
}
.card-body p{
    font-size: 0.5cm;
    text-align: left;
}
.card-title {
    font-family:"Amatic SC", sans-serif;
    font-weight: 700;
    text-align: left;
}
#tarjeta {
    width: 100%;
    justify-content: center;
    margin-left: 10%;
}
img {
    height: 300px;
    width:fit-content;
}

